/*Styling the chating page*/
html{
	background:url("https://miro.medium.com/max/6476/1*L17xC-Fd3-Vx1m9SfS_PNA.jpeg");
	background-size:cover;
}
/*styling and position the div tag to center of the webpage*/
div{
	width:800px;
	padding:-10px 0 0 0;
	height:93.5%;
	border:1px solid black;
	background-color: rgba(0,0,0,0.05);
	overflow-y:auto;
	float:right;
	margin:0 265px 0 0;
	border-radius:25px;
}
/*styling and positioning the user input messages*/
.user_input{
	text-align:right;
	margin:5px;
	background:linear-gradient(to right,#84E1C2,#5FC8A5,#29B687,#04A06C, #00804d);
	border-radius:50px;
	color:white;
}
p.user_input{
	padding:15px 20px 15px 100px;
	border:1px solid blue;
	font-size:0.7cm;
}
/*styling and positioning the bot output messages*/
.bot_output{
	display:flex;
	flex-direction:column;
	text-align:left;
	margin:5px;
	background:linear-gradient(to right,#e60000,#ff3333,#ff6666,#ff9999,#ffb3b3);
	border-radius:50px;
}
p.bot_output{
	padding:15px 100px 15px 20px;
	border:1px solid blue;
	font-size:0.5cm;
}
.icon img{
	height:60px;
	margin:10px 0 0 20px;
}
.icon p{
	margin:-40px 0 0 90px;
	color:black;
}
/*fixing the type bar to bottom of the page*/
#type_bar{
	bottom:3px;
	right:277.5px;
	position:fixed;
	width:58.5%;
	height:7%;
	outline:none;
	font-size:0.5cm;
	border-radius:50cm;
	padding:20px;
}
#submit{
	height:40px;
	bottom:4px;
	right:355px;
	position:fixed;
}